.cancelButton {
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
    -fx-cursor: HAND;
}

.cancelButton:armed {
    -fx-background-color: black;
    -fx-text-fill: lightgrey;
    -fx-cursor: CLOSED_HAND;
}

.proceedButton {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

.proceedButton:armed {
    -fx-background-color: lightgreen;
    -fx-text-fill: green;
    -fx-cursor: CLOSED_HAND;
}