.view {
    -fx-pref-width: 300;
    -fx-pref-height: 200;
}

.heading {
    -fx-pref-width: 180;
    -fx-padding: 10 0 0 0;
    -fx-alignment: center;
    -fx-font-size: 14;
}

.main {
    -fx-alignment: CENTER;
}

.cancelButton {
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
}


.confirmButton {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.confirmButton:armed {
    -fx-background-color: lightgreen;
    -fx-text-fill: green;
}
