@import "button.css";

.newGroupCreatingView {
    -fx-pref-width: 300;
    -fx-pref-height: 200;
}

.textField {
    -fx-pref-width: 200;
}

.textArea {
    -fx-pref-width: 200;
    -fx-pref-height: 100;
}

.form {
    -fx-alignment: CENTER;
}
