.device-info-pane {
    -fx-min-width: 200;
    -fx-max-width: 250;
    -fx-border-color: #9b9b9b;
    -fx-border-width: 1;
    -fx-padding: 10;
}

.device-info-label {
    -fx-pref-width: 180;
    -fx-alignment: center;
    -fx-font-size: 14;
}

.file-tree-controls {
    -fx-padding: 8 0;
    -fx-alignment: center-left;
}

.up-button {
    -fx-font-size: 12;
    -fx-padding: 4 8;
    -fx-end-margin: 10;
}

.controls-label {
    -fx-font-size: 12;
    -fx-min-height: 20;
    -fx-padding: 5;
}
