@import "button.css";
@import "link.css";

.login {
    -fx-pref-width: 300;
    -fx-pref-height: 200;
}

.loginVBox {
    -fx-alignment: CENTER;
}

.loginVBox {
    -fx-alignment: CENTER;
    -fx-pref-width: 200;
}

.loginOKButton {
    -fx-alignment: CENTER;
    -fx-background-color: #008000;
    -fx-text-fill: WHITE;
}