.main {
    -fx-pref-width: 800;
    -fx-pref-height: 600;
    GREY: #d8d8d8;
    DARK_GREY: #9b9b9b;
}

.deviceSettingsPanel {
    -fx-pref-width: 200;
    -fx-background-color: GREY;
    -fx-border-color: transparent DARK_GREY transparent transparent;
}

.deviceDescriptionContainer {
    -fx-padding: 10;
    -fx-border-color: transparent transparent DARK_GREY transparent;
}

.deviceName {
    -fx-font-size: 16;
    -fx-min-width: 200;
    -fx-alignment: center;
}

.deviceVisibilityContainer {
    -fx-padding: 10;
}