@import "button.css";
@import "link.css";

.register {
    -fx-pref-width: 300;
    -fx-pref-height: 250;
}

.registerHBox {
    -fx-alignment: CENTER;
    -fx-pref-width: 200;
}

.registerLoginButton {
    -fx-alignment: CENTER;
    -fx-background-color: #1e2460;
    -fx-text-fill: WHITE;
}

.registerOKButton {
    -fx-alignment: CENTER;
    -fx-background-color: #008000;
    -fx-text-fill: WHITE;
}
